section.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  .cont_wrap {
    width: 90%;
  }
}

@media all and (max-width: 920px) {
  section.content {
    .cont_wrap {
      width: 96%;
    }
  }
}
