@import "../../vars";

.slick-slider {
  img {
    width: 100%;
  }
  video {
    width: 100%;
  }
  .slick-prev {
    left: 0 !important;
  }
  .slick-next {
    right: 0 !important;
  }
  .slick-dots li button:before {
    font-size: 20px;
    color: $second_main_color;
  }
}
.slick-dots li button:before {
  font-size: 65px;
  color: $second_main_color;
}
